---
title: About
heading: About this Project
layout: base.njk
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>What is the JAMstack?</h3>
      <p class="about-text">The JAMstack is a software architecture and philosophy that consists of the three following components: Javascript, APIs and Markup.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Ingredients of this Application</h3>
      <p class="about-text">This project uses Eleventy as a static side generator and Nunjucks as a templating language.
          The API of the <i>The New York Times Developer Network</i> is used for the part of the API.
      </p>
    </div>
  </div>
  <div class="spacer-576"></div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>Built, tested and deployed by Netlify</h3>
      <p class="about-text">This project is prebuilt by Netlify and deployed to Netlify's <i>global edge network.</i></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Miscellanea</h3>
      <ul class="about-text">
        <li>Source Code: <a href="https://github.com/ealafryafresena/jamstack-ssg-eleventy" target="_blank">GitHub</a></li>
        <li>SSG: <a href="https://www.11ty.dev/" target="_blank">Eleventy</a></li>
        <li>Templating: <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a></li>
        <li>HTTP client: <a href="https://github.com/axios/axios" target="_blank">axios</a></li>
        <li>API: <a href="https://developer.nytimes.com/" target="_blank">The New York Times Developer Network</a></li>
        <li>CDN: <a href="https://www.netlify.com/" target="_blank">Netlify</a></li>
      </ul>
    </div>
  </div>
</div>

